body{
    background-color: var(--light-body);
    height: 100%;
}

#nav-button:hover{
    animation-name: nav-button-in;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

@keyframes nav-button-in{    
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}

@keyframes nav-button-out{    
    from{
        transform: scale(1.3);
    }
    to{
        transform: scale(1);
    }
}

#nav-button img{
    height: 100%;
    transform: rotate(180deg);
    filter:invert(100%);
}

#content{     
    height: inherit;
    background-color: black;   
    margin: 0;
    padding: 0;
}

#nav-button{
    display: table-cell;
    text-align: center;
    position: fixed;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: var(--red-base);     
    cursor: pointer;    
    left:10px;    
    color: #f3f3f3;   
    padding:.5em;    
    animation-name: nav-button-out;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.aside-nav{
    color: var(--dark-gray); 
    max-width: 250px;    
    background-color: transparent;
}

.nav-head{    
    border-right: solid var(--low-gray) 5px;
    border-bottom: solid var(--low-gray) 5px;
}

.nav-main{
    position: absolute;
    height: inherit;    
    border-right: solid var(--low-gray) 5px;
    border-bottom: solid var(--low-gray) 5px;
}